@media only screen and (max-width: 1281px) {
    .header-text img{
        transition: transform 1s;
    }
    header:hover .header-text img{
        transform: translate(50px);
    }
}
@media only screen and (max-width: 1025px) {
    header:hover .header-text img{
        transform: translate(0px);
    }
    .about-section{
        display: block;
    }
    .about-section article{
        width: 100%;
    }
    .about-text{
        transform: translate(0px);
    }
    .about-note{
        transform: translate(0px);
    }
}
@media only screen and (max-width: 961px) {
    header:hover .header-text img{
        transform: translate(0px);
    }
    .about-section{
        display: block;
    }
    .about-section article{
        width: 100%;
    }
    .about-text{
        transform: translate(0px);
    }
    .about-note{
        transform: translate(0px);
    }
}
@media only screen and (max-width: 841px) {
    .header-text img{
        display: none;
    }
    .about-section{
        display: block;
    }
    .about-section article{
        width: 100%;
    }
    .about-text{
        transform: translate(0px);
    }
    .about-note{
        transform: translate(0px);
    }
}
@media only screen and (max-width: 732px) {
    *{
        font-size: 18px;
    }
    .text h1{
        font-size: 120px;
    }
    .text h1 span{
        font-size: 120px;
    }
    .header-text img{
        display: none;
    }
    .about-section{
        display: block;
    }
    .about-section article{
        width: 100%;
    }
    .about-text h1{
        font-size: 46px;
    }
    .about-note h1{
        font-size: 46px;
    }
    .about-text{
        transform: translate(0px);
    }
    .about-note{
        transform: translate(0px);
    }
    .skill-header h1{
        font-size: 46px;
    }
    .skill-text h1{
        font-size: 36px;
    }
}
@media only screen and (max-width: 641px) {
    *{
        font-size: 16px;
    }
    header nav{
        display: flex;
        justify-content: center;
    }
    .nav-logo{
        position: absolute;
        bottom: 0px;
    }
    .text h1{
        font-size: 95px;
    }
    .text h1 span{
        font-size: 95px;
    }
    .header-text img{
        display: none;
    }
    .about-section{
        display: block;
    }
    .about-section article{
        width: 100%;
    }
    .about-text h1{
        font-size: 40px;
    }
    .about-note h1{
        font-size: 40px;
    }
    .about-text{
        transform: translate(0px);
    }
    .about-note{
        transform: translate(0px);
    }
    .skill-header h1{
        font-size: 40px;
    }
    .skill-text h1{
        font-size: 30px;
    }
}
@media only screen and (max-width: 481px) {
    .nav-lists li a{
        font-size: 73%;
    }
    header nav{
        display: flex;
        justify-content: center;
    }
    .nav-logo{
        position: absolute;
        bottom: 0px;
    }
    .text h1{
        font-size: 68px;
        line-height: 70px;
    }
    .text h1 span{
        font-size: 68px;
        line-height: 70px;
    }
    .header-text img{
        display: none;
    }
    .about-section{
        display: block;
    }
    .about-section article{
        width: 100%;
        height: 80%
    }
    .about-text{
        transform: translate(0px);
    }
    .about-note{
        transform: translate(0px);
    }
    .about-text h1{
        font-size: 30px;
    }
    .about-note h1{
        font-size: 30px;
    }
    .about-text p{
        font-size: 14px;
    }
    .about-note p{
        font-size: 14px;
    }
    .skill-header h1{
        font-size: 30px;
    }
    .skill-text h1{
        font-size: 26px;
    }
    .skill-text p{
        font-size: 14px;
    }
}
@media only screen and (max-width: 400px) {
    .nav-lists li a{
        font-size: 73%;
    }
    header nav{
        display: flex;
        justify-content: center;
    }
    .nav-logo{
        position: absolute;
        bottom: 0px;
    }
    .text h1{
        font-size: 68px;
        line-height: 70px;
    }
    .text h1 span{
        font-size: 68px;
        line-height: 70px;
    }
    .header-text img{
        display: none;
    }
    .about-section{
        display: block;
    }
    .about-section article{
        width: 100%;
        height: 80%
    }
    .about-text{
        transform: translate(0px);
    }
    .about-note{
        transform: translate(0px);
    }
    .about-text h1{
        font-size: 30px;
    }
    .about-note h1{
        font-size: 30px;
    }
    .about-text p{
        font-size: 14px;
    }
    .about-note p{
        font-size: 14px;
    }
    .skill-header h1{
        font-size: 30px;
    }
    .skill-text h1{
        font-size: 26px;
    }
    .skill-text p{
        font-size: 14px;
    }
}